---
name: pre_merge_build
run-name: >-
  ${{ github.event_name == 'pull_request_target'
      && format('Pre Merge Build PR: {0}', github.event.pull_request.number)
      || format('Pre Merge Build: {0}', github.run_number) }}

on:
  workflow_call:
  pull_request_target:
    types: [opened, synchronize, reopened]
    branches:
      - test-pre-build
    paths-ignore:
      - '.github/**'

jobs:
  pre_merge_build:
    uses: Audioreach/audioreach-workflows/.github/workflows/pre_merge_build.yml@test-pre-build